:root {
    --color-text: rgb(214, 188, 188);

    --font-sml: 0.87rem;
    --font-mid: 1rem;
    --font-big: 1.24rem;
    --font-very-big: 2.24rem;
}


* {
    box-sizing: border-box;
    margin: 0;

    color: var(--color-text);
    font-size: var(--font-mid);
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: block;
    width: 100%;
    height: 100vh;
}

.slide {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .pic {
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .details {
        position: absolute;
        width: 100%;
        bottom: 70px;
        padding: 1rem 5% 1rem 5%;
        background: linear-gradient(0deg, rgba(39, 10, 10, 0.5) 30%, rgba(29, 22, 22, 0.5) 100%);

        .main__title {
            color: #FFF;
            font-size: 2rem;
            font-weight: 600;
        }

        .sub__title {
            color: #FFF;
            font-size: 1.75rem;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .desc {
            color: #FFF;
            font-size: 1.1rem;
            font-weight: 600;
        }

    }

    .controls {
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(39, 10, 10, 0.5) 30%, rgba(192, 140, 140, 0.5) 100%);
        height: 70px;
        width: 100%;

        .arrow {
            padding: 4px;
            position: absolute;
            right: 1%;
            width: 60px;
        }

        .left {
            position: absolute;
            left: 1%;
        }


        .thumbnails {
            position: absolute;
            display: block;
            height: 100%;
            left: 50%;
            transform: translateX(-50%) ;
            overflow: hidden;
            float: left;
            padding: 4px;

            img {
                padding: 2px;
                height: 100%;
                object-fit: cover;
            }
        }

    }

}